$icon-font-path: '../fonts/';
@function font-path($path) {
     @return $path;
}

body {
    background: #e6e6e6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#search {}

#search input[type="text"] {
    background: url("/images/search-white.png") no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    background: url("/images/search-white.png") no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

form {
    display: block;
    margin: 0 auto;
}

.profile-shot {
    border-radius: 100%;
}

.neat-spacing {
    padding: 10px;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot');
}

.glyphicon-inverse {
    color: #fff;
}

.black-bg {
    background-color: black;
}

.white-bg {
    background-color: white;
}

.gray-bg {
    background-color: #e6e6e6;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    color: #fff;
    background: #000;
    display: inline-table;
}

input {
    vertical-align: middle;
}

.icon {
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.thumbnail {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin: 3px 20px;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.glyphicon {
    z-index: 2;
}

.glyphicon.glyphicon-one-fine-empty-dot {
    margin-bottom: -.8em;
    overflow: hidden;
}

.glyphicon.glyphicon-one-fine-empty-dot:before {
    content: "\25cb";
    font-size: 3em;
    z-index: 1;
}

.panel.override {
    box-shadow: none;
}

.chatbox-status {
    font-size: 1.2em;
    line-height: 50px;
}

.chat-panel {
    margin: 0 15px;
    position: relative;
    top: -20px;
}

.vertical-spacing {
    margin: 15px;
}
